@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::-moz-selection {
    background-color: #818cf8;
    color: #fafafa !important;
}

::selection {
    background-color: #818cf8;
    color: #fafafa !important;
}

.card-title::-moz-selection {
    background-color: #fafafa !important;
    color: #818cf8 !important;
}

.card-title::selection {
    background-color: #fafafa !important;
    color: #818cf8 !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #818cf8;
}

body {
    font-family: Poppins;
    font-weight: 600;
    background-color: #222121;
    color: #fafafa;
}

.entrance {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-arrow {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid #818cf8;
    animation: arrow-slide 2000ms infinite;
}

@media screen and (max-width: 767px) {
    .bottom-arrow {
        border-left: 0.75rem solid transparent;
        border-right: 0.75rem solid transparent;
        border-top: 0.75rem solid #818cf8;
    }
}

@keyframes arrow-slide {
    0% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-25px);
    }
}

.skills {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
}